
    <% if(expenses.length > 0) { %>
<br>
<br>


<div class="container border border-2 border-danger">
    <h2 class="text-center text primary">รายจ่าย</h2>
<table class="table">
<thead>
    <tr>
        <th class="col-3">วันที่</th>
        <th class="col-3">รายการ</th>
        <th class="col-2">ยอดเงิน</th>
    </tr>
</thead>
<tbody>
    <% locals.expenses.forEach(expense => { %>
        <tr>
            <td class="col-3"><%= expense.local_time %></td>
            <td class="col-3"><%= expense.name %></td>
            <td class="col-2"><%= expense.quantity %></td>
        </tr>
   <% }) %>
        <tr>
            <td>
                <a class="btn btn-danger" href="/expense">เพิ่มรายการ</a>
            </td>
        </tr>
        <tr>
            <td class="col-3">ยอดเงินรวม</td>
            <td class="col-3"></td>
            <td class="col-2"><%= totalAmountExpense %></td>
        </tr>
</tbody>
</table>
</div>

<br><br>

<% } %>