<div class="container border border-2 border-primary" id="netamount">
    <h2 class="text-center">ยอดเงิน</h2>
    <table class="table">
        <thead>
            <th class="col-3">รายการ</th>
            <th class="col-3"></th>
            <th class="col-2">บาท</th>
        </thead>
        <tbody>
            <tr>
                <td class="col-3">เงินสุทธิ</td>
                <td class="col-3"></td>
                <td class="col-2"><%= netAmount %></td>
            </tr>
        </tbody>
    </table>

</div>
<br>
<br>