<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add product</title>
</head>
<body>
    <%- include ../../layoutauthen.ejs %>
    <div class="container">
    <% if(locals.Product) { %>
        <% Product.forEach(element =>{ %>
            <div class="col">
                <p class="text-success"><%= element.name %></p>
                <a href="/authen/product/<%= element.name %>">
                    <input type="button" value="edit"></a>
            </div>
        <% }) %>
    <% } %>
        <a href="additem">additem</a>
    </div>
    
</body>
</html>